<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Book</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="javascripts/lib/angular-route.min.js"></script>
		<script src="javascripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body ng-app="recipeApp">
    <div ng-include="'partials/header.html'"></div>
    <div class="container">
      <main ng-view></main>
    </div>
  </body>
</html>
