doctype html
html
	head
		title NodeAuth: #{title}
		link(rel='stylesheet', href='/stylesheets/styles.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet") 
	body
		.container
			block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
