extends layout

block content
	h1.registerHeadline LOGIN
	.row
		form.col.s12
			.row
				.input-field.col.s4
					input.validate(type='text', placeholder="Username")
			.row
				.input-field.col.s4
					input.validate(type='password', placeholder="Password")
			.row
				button.btn.waves-effect.waves-light(type='submit', name='action')
					| Login
			
