*{
  padding: 0px;
  margin:0px;
}
body{
  background-color: #ff4e50;
  color: white;
}
.add{
  float: right;
  text-align: center;
  cursor: pointer;
  font-weight: 200;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
  border-radius: 100px;
  border: 1px solid white;
  margin-bottom: 40px;
}
h3{
  font-size: 45px;
  font-weight: 300;
}
.list{
  font-size: 25px;
  font-weight: 100;
}

.container{
  width: 80% !important;
}
.directionsArea{
  margin-bottom: 100px;
}
.welcome{
  text-align: center;
  font-weight: 100;
  margin-bottom:40px;
}
.recipeName{
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-weight: 200;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
input:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.recipeCards .yourRecipeName {
  font-weight: 200;
}
.yourRecipeLoops{
  font-weight: 100;
}
.yourRecipeName{
  font-style: bold;
}
.theName{
  font-style: italic;
  font-weight: 700;
}
.homePageHeader{
  text-align: right;
  font-weight: 700;
  font-size: 90px;
  margin-bottom:0px;
  text-transform: uppercase;
}
.homePageTagline{
  text-align: right;
  font-weight: 100;
  font-size: 50px;
}
.header li{
  display: inline;
  text-transform: lowercase;
  font-size: 24px;
  padding-right: 22px;
}
.header{
  margin-top: 20px;
  margin-left: 10px;
}
.header a{
  font-weight: 100;
  color: white;
}
.recipeCards{
  color: black;
}
.button{
  margin-top: 40px;
  margin-right:20px;
  text-align: center;
  cursor: pointer;
  font-weight: 200;
  font-size: 35px;
  padding: 0px 2px 0px 2px;
  border-radius: 100px;
  border: 1px solid white;
}
#signUpButton{
  background-color: white;
  color:#ff4e50;
}
#signUpButton a {
  color:#ff4e50; 
}
#loginButton {
  color:white; 
}

.registerHeadline{
  font-weight: 700;
  font-size: 90px;
}
.registerTagline{
  font-weight: 100;
}
.input-field input + label {
   color: white !important;
}

.row .input-field input {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important
}

.textInput{
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important
}

.btn{
  font-weight: 200 !important;
  font-size: 35px !important;
  border-radius: 100px !important;
  border: 1px solid white !important;
  background-color: #ff4e50 !important; 
}