<div>
  <div>
    <h2 class="welcome">{{create}}</h2>
  </div>
  <div class="recipeName">
    {{recipeName}}
  </div>
  <h3>What's Cooking Good Looking?</h3>
  <form>
    <input class="textInput" type="text" placeholder="Name of Your Recipe..." ng-model="recipeName" ng-keydown="hideHeader()"/>
  </form>
  <h3>What's in it?</h3>
  <form ng-submit='addIngredient(ingredient)'>
    <input class="textInput" type="text" placeholder="Add an Ingredient..." ng-model="ingredient"/>
    <div class="add" ng-click='addIngredient(ingredient)'>Click to add an ingredient</div>
  </form>
  <h3>Ingredients:</h3>
  <div ng-repeat="i in ingredients">
    <p class="list">- {{i.ingredient}}</p>
  </div>
  <br/>
  <h3>Wow, Tell us How You Made that!</h3>
  <form ng-submit="addDirection(direction)">
    <input class="textInput" type="text" placeholder="Baby Steps, Please..." ng-model="direction"/>
    <div class="add" ng-click='addDirection(direction)'>Click to add another step to your recipe</div>
  </form>
  <div class="directionsArea">
    <h3>Directions:</h3>
    <div ng-repeat="(key,value) in directions">
      <p class="list">{{key+1}}. {{value.direction}}</p>
    </div>
  </div>
  <div class="add" id="submitRecipe" ng-click="createRecipe()">Submit your recipe</div>
</div>
