*{
  padding: 0px;
  margin:0px;
}
.add{
  float: right;
  background: #fff;
  text-align: center;
  color: crimson;
  cursor: pointer;
  font-weight: 200;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
  border-radius: 6px;
  border: 1px solid crimson;
  margin-bottom: 40px;
}
h3{
  font-size: 45px;
  font-weight: 300;
}
.list{
  font-size: 25px;
  font-weight: 100;
}

.container{
  width: 60% !important;
}
#menu-bar{
  background: crimson;
  color: #fff;
  padding: 20px;
}
#menu-bar a{
  float: right;
  list-style-type: none;
  padding: 20px;
  color: #fff;
}
.directionsArea{
  margin-bottom: 100px;
}
.welcome{
  text-align: center;
  font-weight: 100;
  margin-bottom:40px;
}
.recipeName{
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-weight: 200;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A8A8A8;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #A8A8A8;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #A8A8A8;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #A8A8A8;
}
.recipeCards .yourRecipeName {
  font-weight: 200;
}
.yourRecipeLoops{
  font-weight: 100;
}
.theName{
  font-style: italic;
  font-weight: 700;
}
