*{
  padding: 0px;
  margin:0px;
}
body{
  background-color: #ff4e50;
  color: white;
}
.add{
  float: right;
  text-align: center;
  cursor: pointer;
  font-weight: 200;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
  border-radius: 6px;
  border: 1px solid white;
  margin-bottom: 40px;
}
h3{
  font-size: 45px;
  font-weight: 300;
}
.list{
  font-size: 25px;
  font-weight: 100;
}

.container{
  width: 80% !important;
}
.directionsArea{
  margin-bottom: 100px;
}
.welcome{
  text-align: center;
  font-weight: 100;
  margin-bottom:40px;
}
.recipeName{
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-weight: 200;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
input:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.recipeCards .yourRecipeName {
  font-weight: 200;
}
.yourRecipeLoops{
  font-weight: 100;
}
.yourRecipeName{
  font-style: bold;
}
.theName{
  font-style: italic;
  font-weight: 700;
}
.homePageHeader{
  text-align: left;
  font-weight: 700;
  font-size: 90px;
  margin-bottom:0px;
  text-transform: uppercase;
}
.homePageTagline{
  font-weight: 100;
  font-size: 50px;
}
.header li{
  display: inline;
  text-transform: lowercase;
  font-size: 18px;
  padding-right: 22px;
}
.header{
  margin-top: 20px;
  margin-left: 10px;
}
.header a{
  font-weight: 100;
  color: white;
}
.recipeCards{
  color: black;
}
